<!-- Create and Edit Food -->
<h2>{{ editMode ? 'Edit Food' : 'New Food'}} </h2>
<div class="form-section">
  <form #foodForm="ngForm" (submit)="onSubmit()" class="form-row">
    <mat-form-field id="Alimento-form-field">
      <input [(ngModel)]="food.Alimento" matInput name="Alimento" placeholder="Alimento" required>
    </mat-form-field>
    <mat-form-field id="Cantidad-form-field">
      <input [(ngModel)]="food.Cantidad" matInput name="Cantidad" placeholder="Cantidad" required>
    </mat-form-field>
    <mat-form-field id="Calorias-form-field">
      <input [(ngModel)]="food.Calorias" matInput name="Calorias" placeholder="Calorias" required>
    </mat-form-field>
    <mat-form-field id="Azucar-form-field">
      <input [(ngModel)]="food.Azucar" matInput name="Azucar" placeholder="Azucar" required>
    </mat-form-field>
    <ng-container>
      <button color="primary" mat-raised-button>{{ isEditMode() ? 'Update': 'Add'}}</button>
      <button (click)="onCancel()" color="warn" mat-raised-button>Cancel</button>
    </ng-container>
  </form>
</div>
