<mat-toolbar color="primary" class="toolbar">
  <div class="logo-container">
    <img src="" alt="NutriMove Logo" class="logo" />
  </div>
  <span class="spacer"></span>
  <div>
    <button mat-button [routerLink]="['/home']" routerLinkActive="active">Home</button>
    <button mat-button [routerLink]="['/home/mydiet']" routerLinkActive="active">Mi Dieta</button>
    <button mat-button [routerLink]="['/recomendaciones']" routerLinkActive="active">Recomendaciones</button>
    <button mat-button [routerLink]="['/actividades']" routerLinkActive="active">Actividades</button>
    <button mat-button [routerLink]="['/comunidad']" routerLinkActive="active">Comunidad</button>
    <button mat-button [routerLink]="['/perfil']" routerLinkActive="active">Perfil</button>
  </div>
</mat-toolbar>
